@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
   
}


/* Navigation  */
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    grid-template-areas: 
    "logo burger main-nav-open"
   
    ;

}

#main-nav ul li{
    display: inline-block;
    padding: 16px 16px 8px 16px;
   
}
#main-nav ul li:hover{

    border-bottom: 1.5px solid #3f6232;

    cursor: pointer;
}
.burger{
    display: none;
    height: 50px;
}

.logo{
    height: 50px;
    padding:20px 40px;
}
.logo img{
    height: 50px;
    opacity: .9;
   
}

.logo img:hover{
    opacity: 1;
    
}
.main-nav , .main-nav-open{
    margin-right: 20px;
    font-size: 16px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.main-nav a , .main-nav-open a{
    color: #3f6232;
}

.wrapper{
    background-image: url(images/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    
}   
/* Banner */
.banner{
    padding-top: 60px;
    height: 50vh;
    display: flex;

}


.content1{
    padding-top:90px;
    flex:3;
    height: 50vh;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;
    line-height: 1.3;
    padding-left: 50px;
}
.content1 h1{
    font-family: helvetica,Arial;
font-size: 80px;

}
.content1 h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.content1 h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
a.view-btn{
    padding:10px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
}

a.view-btn:hover{
    transition: 1s;
    background-color: #436b31;
    color: white;
}

.content2{
    margin-top:100px;
    flex:1;
    display: flex;
    justify-content: flex-end;

}

.icons{
    list-style: none;
    text-decoration: none;
}

.icons i{
    font-size: 30px;
    padding:10px;
}
.icons a{
    margin-top: 50px;
    color:  #70905c;;
    font-size: 50px;
}

.icons a:hover{
    transition: 1s;
   color: #424c3b;
}

.sec1{

    height:300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:10px 30px;
}
.box{
    padding: 40px 20px 20px 20px;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin:10px 20px;
    background-color: #2b5428;
    color: white;
    box-shadow: 5px 11px 12px -7px #8e8e8e;
}
.box h3{
    padding: 10px;
}

.box h4{
    font-weight: 100;
}

.box-icon{
    font-size: 20px;
}


.sec2{
  
    background-image: url(/images/bg3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-icon i{
font-size: 50px;

}

.res1 h3, .res2 h3{
    padding: 40px 20px 10px 20px;
    text-align: center;
    color: #294232;
    font-size: 22px;
}
.res1 .r1, .res2 .r1{
padding: 0px 20px 10px 20px;
}
.coderes {
    justify-content: center;
    color: #294232;
    display: flex;
    font-size: 25px;
    font-weight: 900;
}
.res1 i{
    color:white;
    padding: 12px;
    font-size: 30px;
}

.sec3{
    color: rgb(30 37 47 / 94%);
    height:100%;
    padding: 20px;
}


.slideshow-container{
    text-align: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn-left{
    position: absolute;
    left: 0;
    margin-left: 50px;
}

button.btn-right{
    position: absolute;
    right: 0;
    margin-right: 50px;
}

button.lr-btn{
    color: white;
    outline-color: none;
    padding:20px;
    border: none;
    text-decoration: none;
    outline-color: none;
    transition: .5s;
    background-color:#153e1d;
    outline-style: none;
  
}

button.lr-btn:hover{
    transition: .5s;
    background-color:#717171;
    cursor: pointer;
    
}


.slideshow-tittle{
    text-align: center;
    padding:40px;
    font-size: 30px;
}


.mySlides img {
    margin: 30px;
    display: grid;
    box-shadow: 0px 9px 17px 2px #42414152;
}

img.img1 {
    height: 75vh;
}

img.img2 {
    height: 75vh;
}

img.img3{
    height: 70vh;
}
/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    color: #153e1d;
    cursor: pointer;
 
  }
  .tooltip .tooltiptext {
      margin-top: 50px;
    visibility:hidden;
    width: 300px;
    background-color: #153e1d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 12px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 100%;
    line-height: 1.5;
    box-shadow: 3px 3px 8px 0px #00000075;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .sec4 {
      color:rgb(30 37 47 / 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 650px;
    justify-content: center;

}

.sec4 h3 {
    padding: 30px 0px;
    font-size: 18px;

}

.sec4 h4 {
    font-weight: 500;
    font-size: 16px;
    padding: 0px 300px;
}
.sec4 h1 {
    padding: 30px;
}

.sec5 h1 {
    font-size: 20px;
}

.sec5 h4 {
    font-weight: 500;
    padding: 15px 250px;
}

.sec5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(30, 37, 47, 0.8196078431372549);
    height: 700px;
    line-height: 1.8;
}

.sec5 img {
    border: 1.5px solid #000000a8;
    height: 200px;
    border-radius: 100%;
}

.footer{
    background-color: #3f8e26;
    height: 65px;
}
.footer-icon{
    flex-direction: row;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ficon {
    padding: 20px;
    font-size: 16px;
}

.ficon i {
    padding: 0px 8px;
}

.footer a{
    color: white;
}
.footer a:hover{
    color:#e0e0e0;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #56963d;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 3px 7px 1px #00000057;
  }

/* 1920px */

@media only screen and (max-width: 2400px) and (min-width: 1920px)  {
    .wrapper {
  
        height: 100vh;
    }

    .sec2{
        height: 100vh;
    }
}

    /* 1366px */

    @media only screen and (max-width: 1920px) and (min-width: 1365px)  {
    .wrapper {
  
        height: 100vh;
    }

    .sec2{
        height: 100vh;
    }
}


/* Mobile View */

@media only screen and  (max-width:700px){
    .sec1{

        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding:10px 30px;
    }
    .content1 h4{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    }
    .content1{
    padding: 50px;
    margin-top: 40px;
   
    }
    .banner{
        padding-top: 0px;
    }
    .content1 h1{
        font-size: 50px;
    }

    .content1{
        flex:3;
        height: 50vh;
        display: flex;
        color: white;
        flex-direction: column;
        align-items: flex-start ;
        justify-content: center;
        line-height: 1.3;

        padding-left: 50px;
    }
    .content2{
        display:none;
    }
    .wrapper{
        background-image: url(/images/bg.svg);
        background-size:cover;
        background-repeat: no-repeat;
        height: 105vh;
    }
.nav{
 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 0px;
    grid-template-areas: 
    "logo burger"
    "main-nav-open main-nav-open"
    ;

}
.logo{
    grid-area: logo;
}

.logo img{
    height: 35px;
    opacity: .9;
   
}
.burger{
  
    grid-area: burger;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 20px;
}

.burger a{
    color: white;
   
}

.main-nav{
    grid-area: main-nav;
    display: none;
 
}
.main-nav-open{

    grid-area: main-nav-open;
    display: block;
    text-align: right;
    margin-right: 0px;
    height: 150px;
    background-color: #0e2518f7;
    z-index: 1;
    box-shadow: -1px 8px 7px 0px #163b0f;
    text-align: center;
}
#main-nav a{
    color: white;
    font-size: 16px;
    font-weight: 100;
    
}

#main-nav ul li{
    padding:14px;
    display: block;
    background-color: #4363433d;

}
#main-nav ul li:hover{
    opacity: 8;
    background-color: #e6ffe63d;
    transition: .8s;
    border: 0;
    cursor: pointer;
    display: block;

}

.res1 h3, .res2 h3 {
    padding: 40px 20px 10px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
}

.coderes {
    text-align: center;
    justify-content: center;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    font-weight: 500;
}


.res1 .r1, .res2 .r1 {
    padding: 0px 0px 10px 8px;
}

img.img3 {
    height: 35vh;
    width: 55vh;
}

img.img2 {
    height: 45vh;
   
}


img.img1 {
    height: 45vh;
 
}

button.lr-btn {
    padding: 12px;
    
}

button.btn-left {
    margin-left: 10px;
}
button.btn-right{
    margin-right:10px;
}

.slideshow-tittle{
padding:0
}

.mySlides {
    display: flex;
    align-items: center;
    justify-content: center;
 
}


.slideshow-container{
    height: 60vh;
  
}


.tooltip .tooltiptext {
  width: 250px;

}



.sec4 h4 {
    padding: 0px 18px;
    line-height: 1.5;
    font-size: 15px;
}
.sec4 h1 {
   font-size: 25px;

}

.sec4 {
    height: 730px;

}

.sec5 h4 {
    font-weight: 500;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
}

.slideshow-tittle {
    padding: 10px;
}

.sec4 h1 {
    padding: 0px 30px 30px 30px;
}
.ficon{
    padding: 10px;
}

.footer{
    height: 100%;
}

.footer-icon {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #56963d;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 3px 7px 1px #00000057;
  }


}
